* {
    padding-inline-start: 0;
    margin: 0;

    body {
    font-family: var(--fontFamily);
    background-image: url("../Images/backgroundImage2.jpg");
    background-position: right center;
    background-attachment: fixed;
    }
}