main {
    padding-bottom: 60px;
    height: 100%;

    p {
        text-align: center;
        text-decoration: none;
    }
    h1 {
        text-align: center;
        color: $fontH2Color;
        padding-bottom: 50px;
    }

    h2 {
    text-align: center;
    }

    h2 {
    color: $fontH2Color;
    }
    #searchInput {
        width: 30%;
        margin: 0 auto;
    }
    .main-div-grid {
        display: grid;
        justify-items: center;
        .pokeDiv {
            min-width: 350px;
            background-color: rgb(245, 245, 245);
            display: grid;
            padding: 16px;
            margin: 5px;
            position: relative;
            max-width: 500px;
            .pokemonType  {
                margin: 0px auto;
            }
            .imgPokemon {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 65%;
            }
            p {
                text-align: left;
                margin: 0px;
                padding: 0px;
            }
            
        }
    }

    .main-div-grid-about {
        margin: 0px auto;
        .child-div {
            .photo1  {
                width: 20%;
                height: 20%;
            }
        }
    }
}