$backgroundHeader: #f1f3e8;
$fontFamily: "PT Sans", sans-serif;
$fontH2Color: darkkhaki;
$borderColor: 1px solid #226666;
$borderLeftColor: 10px solid #ccc;
$backgroundDiv: linear-gradient(#ffd8aa, #fff7aa, #b1df95);