* {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
}
* body {
  font-family: var(--fontFamily);
  background-image: url("../Images/backgroundImage2.jpg");
  background-position: right center;
  background-attachment: fixed;
}

.main-div-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  width: 75%;
  margin: auto;
}
.main-div-grid .child-div {
  display: table-cell;
  padding: 16px;
  border: 1px solid #226666;
  border-left: 10px solid #ccc;
  background: linear-gradient(#ffd8aa, #fff7aa, #b1df95);
  margin: 5px;
  position: relative;
  max-width: 500px;
}

.main-div-about {
  width: 50%;
  margin: auto;
}

.main-div-grid-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  width: 75%;
  margin: auto;
}
.main-div-grid-news .child-div {
  display: table-cell;
  padding: 16px;
  border: 1px solid #226666;
  border-left: 10px solid #ccc;
  background: linear-gradient(#ffd8aa, #fff7aa, #b1df95);
  margin: 5px;
  position: relative;
  max-width: 500px;
}

.main-div-grid-about {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  width: 75%;
  margin: auto;
}
.main-div-grid-about .child-div {
  display: grid;
  padding: 16px;
  border: 1px solid #226666;
  border-left: 10px solid #ccc;
  background: linear-gradient(#ffd8aa, #fff7aa, #b1df95);
  margin: 5px;
  position: relative;
  max-width: 500px;
}
.main-div-grid-about .listContDiv {
  min-height: 250px;
  background-color: #fff7aa;
  display: table-cell;
  padding: 16px;
  border: 1px solid #226666;
  border-left: 10px solid #ccc;
  margin: 5px;
  position: relative;
}
.main-div-grid-about .listContDiv span {
  font-weight: bold;
}
.main-div-grid-about .listContDiv .listUl {
  margin-top: 20px;
}

.grid-h1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  width: 75%;
  margin: auto;
  padding: 100px 100px;
  background-color: rgba(255, 228, 196, 0.315);
}

header {
  background: #f1f3e8;
}
header .container div .nav-bar-logo {
  width: 150px;
}
header .container ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.child-div:hover .hoverText {
  visibility: visible;
  opacity: 1;
}
.child-div:hover .img-div {
  opacity: 0.3;
}
.child-div .hoverText {
  /* (C1) DIMENSIONS */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* (C2) POSITION */
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  /* (C3) COLORS */
  background-color: rgba(190, 178, 42, 0.4588235294);
  color: #312f2c;
  visibility: none;
  opacity: 0;
  transition: opacity 0.23s;
  display: flex;
  align-items: center;
}

main {
  padding-bottom: 60px;
  height: 100%;
}
main p {
  text-align: center;
  text-decoration: none;
}
main h1 {
  text-align: center;
  color: darkkhaki;
  padding-bottom: 50px;
}
main h2 {
  text-align: center;
}
main h2 {
  color: darkkhaki;
}
main #searchInput {
  width: 30%;
  margin: 0 auto;
}
main .main-div-grid {
  display: grid;
  justify-items: center;
}
main .main-div-grid .pokeDiv {
  min-width: 350px;
  background-color: rgb(245, 245, 245);
  display: grid;
  padding: 16px;
  margin: 5px;
  position: relative;
  max-width: 500px;
}
main .main-div-grid .pokeDiv .pokemonType {
  margin: 0px auto;
}
main .main-div-grid .pokeDiv .imgPokemon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
main .main-div-grid .pokeDiv p {
  text-align: left;
  margin: 0px;
  padding: 0px;
}
main .main-div-grid-about {
  margin: 0px auto;
}
main .main-div-grid-about .child-div .photo1 {
  width: 20%;
  height: 20%;
}

/*responsive*/
@media (max-width: 768px) {
  body .main-div-grid {
    grid-template-columns: 1fr;
    width: 25%;
    margin: auto;
    justify-content: center;
    font-size: 13px;
  }
  body .carousel {
    margin-left: 13px;
  }
  body .p-hidden-md {
    display: none;
  }
  body a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  body .carousel {
    width: 92% !important;
    display: flex;
  }
  body .grid-h1 {
    padding: 18px;
    text-align: center;
  }
  body .pokemonImg {
    width: 175px;
    height: auto;
  }
  body .main-div-grid-news {
    grid-template-columns: 1fr;
    justify-content: center;
    font-size: 13px;
    width: 25%;
    margin: auto;
  }
  body .newsImg,
body .imgAbout {
    width: 150px;
    height: auto;
    justify-content: center;
  }
  body .main-div-grid-about {
    grid-template-columns: 1fr;
    justify-items: center;
    font-size: 13px;
    width: 80%;
    margin: auto;
  }
  body p {
    margin-bottom: 0px;
  }
}
@media (min-width: 769px) {
  body .main-div-grid {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  body .main-div-grid-news {
    grid-template-columns: 1fr;
    justify-content: center;
    width: 25%;
    margin: auto;
  }
  body a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  body .grid-h1 {
    padding: 40px;
    text-align: center;
  }
  body .newsImg,
body .imgAbout {
    width: auto;
    height: 200px;
    justify-content: center;
  }
  body .main-div-grid-about {
    grid-template-columns: 1fr;
    justify-items: center;
    width: 60%;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  body .main-div-grid {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
  body .main-div-grid-news {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 25%;
    margin: auto;
  }
  body a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  body p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    line-height: 1.5;
  }
  body .main-div-grid-about {
    grid-template-columns: 1fr;
    justify-items: center;
    width: 40%;
    margin: auto;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 50px;
  font-family: "Helvetica", Helvetica Neu, Arial, sans-serif;
  font-size: 65.2%;
  color: #eeeff0;
  background-color: #0064a5;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}

/*/////// Navigation ///////*/
#navigation h1 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

#navigation {
  position: relative;
  /*margin-top: 300px;*/
  float: left;
  background: transparent;
  margin: 0 1% 0 1%;
}

#navigation,
#navlist {
  min-width: 300px;
  width: 220px;
  margin: 15px;
}

#navlist li {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 160%;
  display: block;
  text-decoration: none;
  padding: 5px 0 5px 0;
  list-style: none;
  border-bottom: 1px solid #e0e0e0;
}

#navlist li:last-child {
  border: none;
}

#navlist li a {
  text-decoration: none;
  color: #444;
}

/*#navlist li a:hover {}*/
#navlist li a {
  font-weight: 300 !important;
}

#navlist li:after {
  content: "\f105" !important;
  font-family: "font awesome" !important;
  float: right;
}

.divGrass {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #9bcc50;
  color: #212121;
}

.divPoison {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #b97fc9;
  color: #fff;
}

.divFire {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #fd7d24;
  color: #fff;
}

.divFlying {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
}

.divWater {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #4592c4;
  color: #fff;
}

.divBug {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #729f3f;
  color: #fff;
}

.divNormal {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #a4acaf;
  color: #212121;
}

.divFairy {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: rgba(255, 221, 187, 0.6);
  color: #212121;
}

.divGround {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  color: #212121;
}

.divFighting {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #d56723;
  color: #fff;
}

.divPsychic {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #f366b9;
  color: #fff;
}

.divRock {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #a38c21;
  color: #fff;
}

.divIce {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #51c4e7;
  color: #212121;
}

.divElectric {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #eed535;
  color: #212121;
}

.divDragon {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
}

.divSteel {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #9eb7b8;
  color: #212121;
}

.divDark {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #707070;
  color: #fff;
}

.divGhost {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 25px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 15px;
  text-align: center;
  background-color: #7b62a3;
  color: #fff;
}/*# sourceMappingURL=main.css.map */